.button {
  display: block;
  cursor: pointer;

  margin: 0;
  padding: 0;
  border: none;

  width: 60px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;

  color: var(--c-black);
  background-color: transparent;
}

.button:disabled {
  cursor: unset;
  color: #e5e5e5;
}
