.title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 160%;

  margin: 0 0 103px 0;
  text-transform: capitalize;

  color: var(--c-black);
}
