.imageList {
  max-width: 79px;
  max-height: 511px;

  overflow-x: hidden;
  overflow-y: scroll;
}

.disableScroll {
  overflow-y: visible;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;

  margin: 0 auto;

  object-fit: cover;
}

.button {
  cursor: pointer;

  display: block;

  margin: 0 0 40px 0;
  padding: 0;
  border: none;

  overflow: hidden;

  transition: transform 200ms;
}

.button:last-of-type {
  margin-bottom: 0;
}

.button:hover {
  transform: scale(1.2);
}
