.page {
  display: grid;
  grid-template-areas: 'gallery gallery info . ';
  gap: 100px;
}

.info {
  grid-area: info;
}

.gallery {
  grid-area: gallery;
  display: grid;
  grid-template-columns: 79px 610px;
  gap: 40px;
}

.title {
  margin: 0 0 43px 0;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;

  color: var(--c-black);
}

.name {
  display: block;

  margin-top: 16px;

  font-weight: normal;
}

.price {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 18px;

  color: var(--c-black);
}

.button {
  cursor: pointer;

  margin: 20px 0;
  padding: 16px 32px;
  border: none;

  min-width: 292px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  text-transform: uppercase;

  color: white;
  background-color: var(--c-primary);
}

.button:disabled {
  cursor: unset;
  background-color: #e5e5e5;
}

.attributeName {
  margin: 0 0 10px 0;

  text-transform: uppercase;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;

  color: var(--c-black);
}

.attributeChooser {
  margin: 0 0 40px;
}

.label {
  min-width: 63px;
  min-height: 45px;
}
